name: Lighthouse Report

on:
  push:
    branches:
      - master

jobs:
  lighthouse:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install LHCI CLI
      run: npm install -g @lhci/cli@0.12.x

    - name: Run Lighthouse CI
      run: lhci autorun
      env:
        DEVOPS: ${{secrets.DEVOPS}} 

    - name: Upload report artifact
      uses: actions/upload-artifact@v4
      with:
        name: lighthouse-report
        path: ./lighthouse-ci/.lighthouseci
